html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #ffc2c3;
}

.game{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    background-color:#bc5f6a;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    border: 3px solid black;
}

.grid button{
    background-color:#bc5f6a;
    color: #0e0301;
    font-size: 24px;
    font-weight: bold;
    border: solid black;
}

.footer{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.footer button{
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 80px;
    background-color: #e81e25;
    color: #0e0301;
    outline: none;
    cursor: pointer;
}

.footer button:hover{
    color: #0e0301;
    background-color: #ffc2c3;
}

.footer span{
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: #0e0301;
    font-weight: bold;
    margin: auto 0;
}

.win-message{
    font-size: 25px;
    color: #0e0301;
    font-weight: bold;
    text-align: center;
}